.hopeAward{
    background-color: #FFC2C2;
}

.hopeAwardSub{
    background-color: #fff;
}

.hopeAwardSub2{
    background-color: #FFEBEB;
}

.hopeStudent{
    background-color: #FFC2C2;
}

.hopeStudentSub{
    background-color: #fff;
}

.hopeStudentSub2{
    background-color: #FFEBEB;
}

.lottery{
    background-color: #bbc3ff;
}

.lotterySub{
    background-color: #fff;
}

.lotterySub2{
    background-color: #eef0ff;
}