.hopeAward{
    background-color: #fed0ba;
}

.hopeAwardSub{
    background-color: #fff;
}

.hopeAwardSub2{
    background-color: #fee7db;
}

.hopeStudent{
    background-color: #fed0ba;
}

.hopeStudentSub{
    background-color: #fff;
}

.hopeStudentSub2{
    background-color: #fee7db;
}

.lottery{
    background-color: #b7e2b5;
}

.lotterySub{
    background-color: #fff;
}

.lotterySub2{
    background-color: #e6f5e6;
}